# Ignore node_modules folder
node_modules/

# Ignore .env files (for sensitive information)
.env

# Ignore compiled files
*.log
*.tmp

# Ignore macOS system files
.DS_Store

# Ignore IDE/Editor files
.vscode/
